.tt-menu {
    background-color: white;
    padding: 5px 10px;
    margin-top: 5px;
    border: 1px #CCC solid;
    border-radius: 0.25em;
    box-shadow: 1px 1px 3px rgba(20, 20, 20, 0.36);
    min-width: 300px;
}

.twitter-typeahead {
    width: 100%;
}