package-lock.json
yarn.lock
node_modules/*
lerna-debug.log
*.log
config/*
.*
packages/frontend/node_modules/*
packages/pipeline/node_modules/*
packages/exporter/node_modules/*
packages/mailer/node_modules/*
packages/reports/node_modules/*
packages/*/node_modules/*